In [1]:
# Load and import the libraries
# pandas for working with dataframes
# numpy for working with darrays
# nuclear_Energy for getting the nuclear repulsion energy
import pandas as pd
import numpy as np
from nuclear_Energy import nuclearEnergy

In [2]:
# Load the data_frame with the information from energyFile.xlsx
# in my energyFile.xlsx the sheet name 'Hoja1' is in spanish, 
# probably in your file the name is 'Sheet1'
data_frame = pd.read_excel('energyFile.xlsx', sheet_name = 'Hoja1')

In [3]:
data_frame

   System                                          Path_file      TotalE
0       1  /home/ray/Development/nuclearE/examples/benzen... -227.609843
1       2  /home/ray/Development/nuclearE/examples/methan... -115.343769
2       3  /home/ray/Development/nuclearE/examples/waterD... -152.855414

In [4]:
# A new column is created for the repulsion energy 'Nuclear Energy', 
# it is calculated from the geometry file xyz 'Path_file'
data_frame['Nuclear Energy']= data_frame['Path_file'].map(lambda x: nuclearEnergy(x))

name file : /home/ray/Development/nuclearE/examples/benzene.xyz
name file : /home/ray/Development/nuclearE/examples/methanol.xyz
name file : /home/ray/Development/nuclearE/examples/waterDimer.xyz

In [5]:
data_frame

,System,Path_file,TotalE,Nuclear Energy
0,1,/home/ray/Development/nuclearE/examples/benzen...,-227.609843,203.019661
1,2,/home/ray/Development/nuclearE/examples/methan...,-115.343769,40.118770
2,3,/home/ray/Development/nuclearE/examples/waterD...,-152.855414,36.643800

In [6]:
# Nuclear energy is subtracted from the total to obtain electronic energy 'Electron Energy'.
data_frame['Electron Energy'] = data_frame['TotalE'] - data_frame['Nuclear Energy']

In [7]:
data_frame

,System,Path_file,TotalE,Nuclear Energy,Electron Energy
0,1,/home/ray/Development/nuclearE/examples/benzen...,-227.609843,203.019661,-430.629504
1,2,/home/ray/Development/nuclearE/examples/methan...,-115.343769,40.118770,-155.462539
2,3,/home/ray/Development/nuclearE/examples/waterD...,-152.855414,36.643800,-189.499214