In [2]:
# Load and import the libraries
# pandas for working with dataframes
# numpy for working with darrays
# nuclear_Energy for getting the nuclear repulsion energy
import pandas as pd
import numpy as np
from nuclear_Energy import nuclearEnergy

In [3]:
# Load the data_frame with the information from energyFile.xlsx
# in my energyFile.xlsx the sheet name 'Hoja1' is in spanish, 
# probably in your file the name is 'Sheet1'
data_frame = pd.read_excel('energyFile.xlsx', sheet_name = 'Hoja1')

In [4]:
data_frame

   System                                          Path_file      TotalE
0       1  /home/ray/Development/nuclearE/examples/benzen... -227.609843
1       2  /home/ray/Development/nuclearE/examples/methan... -115.343769
2       3  /home/ray/Development/nuclearE/examples/waterD... -152.855414

In [5]:
# A new column is created for the repulsion energy 'Nuclear Energy', 
# it is calculated from the geometry file xyz 'Path_file'
data_frame['Nuclear Energy']= data_frame['Path_file'].map(lambda x: nuclearEnergy(x))

In [6]:
data_frame

,System,Path_file,TotalE,Nuclear Energy
0,1,/home/ray/Development/nuclearE/examples/benzen...,-227.609843,203.019661
1,2,/home/ray/Development/nuclearE/examples/methan...,-115.343769,40.118770
2,3,/home/ray/Development/nuclearE/examples/waterD...,-152.855414,36.643800

In [7]:
# Nuclear energy is subtracted from the total to obtain electronic energy 'Electron Energy'.
data_frame['Electron Energy'] = data_frame['TotalE'] - data_frame['Nuclear Energy']

In [7]:
data_frame

,System,Path_file,TotalE,Nuclear Energy,Electron Energy
0,1,/home/ray/Development/nuclearE/examples/benzen...,-227.609843,203.019661,-430.629504
1,2,/home/ray/Development/nuclearE/examples/methan...,-115.343769,40.118770,-155.462539
2,3,/home/ray/Development/nuclearE/examples/waterD...,-152.855414,36.643800,-189.499214

In [8]:
# Short code to replace the path in the "Path_file" column
# old_string is the old path file (i.e. Graham file system)
# new_string is the new path file (i.e. your PC file system)
old_string = "/home/ray/Development/nuclearE/examples/"
new_string = "/home/ray/examples/"

data_frame['New_path_file'] = data_frame['Path_file'].map(lambda x: x.replace(old_string, new_string))

In [9]:
data_frame

,System,Path_file,TotalE,Nuclear Energy,Electron Energy,New_path_file
0,1,/home/ray/Development/nuclearE/examples/benzen...,-227.609843,203.019661,-430.629504,/home/ray/examples/benzene.xyz
1,2,/home/ray/Development/nuclearE/examples/methan...,-115.343769,40.118770,-155.462539,/home/ray/examples/methanol.xyz
2,3,/home/ray/Development/nuclearE/examples/waterD...,-152.855414,36.643800,-189.499214,/home/ray/examples/waterDimer.xyz

In [10]:
# Deete old columns 
# Whit del, we can delete a column in the data_frame
del(data_frame['Path_file'])
data_frame

,System,TotalE,Nuclear Energy,Electron Energy,New_path_file
0,1,-227.609843,203.019661,-430.629504,/home/ray/examples/benzene.xyz
1,2,-115.343769,40.118770,-155.462539,/home/ray/examples/methanol.xyz
2,3,-152.855414,36.643800,-189.499214,/home/ray/examples/waterDimer.xyz